@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;1,700&family=Inter:wght@300&display=swap");

body {
  font-family: "Gentium Book Plus", serif;
  margin: 32px;
}

header {
  min-height: 1rem;
  margin-top: 2rem;
  background-color: black;
}

.contact {
  background-color: lightgrey;
  display: flex;
  align-items: center;
  min-height: 3rem;
}


footer {
  border-bottom: 1rem solid black;
  margin-bottom: 2rem;
}

#timer {
  font-size: 1rem;
  position: relative;
  animation: slideIn 2s ease-in-out;
}

#countdown {
  position: relative;
  animation: slideIn2 3s ease-in-out;
  font-size: 1rem;
  
}

body > main > section.main-header h2 {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8rem;
  text-decoration: underline;
}

span {
  text-decoration: underline;
}

body main {
  position: relative;
  animation: slideIn 1s ease-in-out;

}

@keyframes slideIn2 {
  from {
    right: -200%;
  }
  to {
    right: 0%; /* Move the header from left to right to appear on the page */
  }
}

@keyframes slideIn {
  from {
    left: -100%;
  }
  to {
    left: 0%; /* Move the header from left to right to appear on the page */
  }
}

body > main > section.main-header1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

body main .h1-header {
  font-size: 3rem;
  margin: 0;
  cursor: default;
  animation: fadeIn 5s;
  color: #000080;
}

body > main > section.main-header {
  margin: 4rem 0rem;
}

body main h2 {
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.section-details {
  margin: 3rem 0;
}

body > main > section.main-header > div h2 {
  font-size: 18px;
  text-decoration: underline;
}

body > main > section.main-header > div h3 {
  font-size: 14px;
}   

body > main > .cards {
    margin: 0 calc(100vh / 6); /* Assuming the screen height is 1080px */
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

body > main > .cards > .card {
  margin: 10px;
  padding: 10px;
  background-color: hsla(228, 8%, 15%, 0.1);
  min-width: 45%;
}


body main .navigation-bar  ul {
  display:flex;
  padding:0;
  align-items:center;
  justify-content: flex-end;
  flex-wrap: wrap;
}


body main .navigation-bar  ul li {
  list-style: none;
}


body > main > section.links > section.links-bar2 a {
  margin: 0.2rem;
  font-size: 0.8rem;
  box-shadow: inset 0 0 0 0 black;
  padding: 0 0.25rem;
  margin: 0 3px;
  transition: color 1s ease-in-out, box-shadow 1s ease-in-out;
  font-weight: 600;
  text-decoration: underline;
  line-height: 1.5;
}


body > main > section.links > section.navigation-bar1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem;
}

#certificate {
  overflow: hidden;
}

#certificate > ul {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
    }

#certificate:hover > ul {display: block;}


.navigation-bar1 {
  margin: 10px 0px;
}

body > main > section.navigation-bar > section.links-bar2 ul {
  text-decoration: un;
  justify-content: flex-start;
}


body > main > section.navigation-bar > section.links-bar2 ul li a {
  font-size: 0.9rem;
}


body > main > section.links > section.navigation-bar1 a {
  margin: 0.2rem;
}

body > main > section.links > section.navigation-bar2 a {
  margin: 0.2rem;
}

body > main > section.links > section.links-bar2 {
  margin: 1rem;
}



body > main > section.links > section.links-bar2 a {
  margin: 0.2rem;
  font-size: 0.8rem;
  box-shadow: inset 0 0 0 0 black;
  padding: 0 0.25rem;
  margin: 0 3px;
  transition: color 1s ease-in-out, box-shadow 1s ease-in-out;
  font-weight: 600;
  text-decoration: underline;
  line-height: 1.5;
}

body > main > section.links {
  text-align: right;
  margin: 4rem 0.2rem;
}

body main .navigation-bar a {
  color: #18272f;
  position: relative;
  text-decoration: none;
}

body main .navigation-bar a {
  box-shadow: inset 0 0 0 0 black;
  padding: 0 0.25rem;
  margin: 0 3px;
  transition: color 1s ease-in-out, box-shadow 1s ease-in-out;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  body > main > .cards {
    display: block;
    margin: 0;
  }
}


body main .navigation-bar a:hover {
  background-color: red;
  box-shadow: inset 200px 0 0 0 white;
}

body > main > section.navigation-bar > section.links-bar2 a {
  font-weight: 500;
}

/* Presentational styles */

body main .links-bar {
  margin: 0.5rem;
}

body main .links-bar a:visited {
  color: black;
}

body main .section-links .links {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  margin: 1rem 0;
  font-size: 1rem;
}

a {
  color: #000080;
}

a:visited {
  color: black;
}

body > main > section.section-details > h3 {
  color: #000080;
}

body > main > section.section-about > section > footer {
  margin: 2rem 0;
}


@media screen and (max-width: 675px) {
  body {
    margin: 0 16px;
  }

  body main .navigation-bar a::after {
    content: ' >';
    color:darkred;
  }

  body > main > .header-details {
    display: block;
  }
}

body > main > section.navigation-bar {
  margin-bottom: 4rem;
}

@media screen and (max-width: 768px) {
  body > main > .header-details {
    display: block;
  }
}

main .section-projects a {
  text-decoration: none;
  color: black;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.articles {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  flex: 33%;
}

.sandboxes-container {
  height: 50vh;
  color: black;
}


.img {
  max-height: 30px;
}

/* Add some padding inside the card container */
.sandboxes-body {
  margin: 0 220px;
}

.main {
  margin: 4rem 0rem;
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-around;
  align-items: center;
}

.style {
  margin: 1rem;
  width: 50%;
  padding: 2%;
  background-color: hsla(228, 8%, 15%, 1);
  border-radius: 2%;
  transition: width 300ms ease-in;
  text-align: center;
  background-color: #000080;
}

.style:hover {
  width: 20%;
}

.style .button {
  text-decoration: none;
  color: white;
}

body > main > section.main > .style > a {
  color: white;
  display: block;
  width: 100%;
}

body > main > section.main > .style > details {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body > main > section.main > .style > details > .downloads {
  display:flex;
  flex-direction: column;
  margin-top: 10px;
}

@media screen and (max-width: 1024px) {
  .sandboxes-body {
    margin: 0 157px;
  }
}

@media screen and (max-width: 675px) {
  body > main > section.navigation-bar > a::after {
    content: " >";
    color: red;
  }

  .sandboxes-body {
    margin: 0 15px;
  }

  body
    > main
    > section.navigation-bar
    > section.navigation-bar1.navigation-bar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0px;
  }

  body > main > section.navigation-bar > section.links-bar2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0px;
  }

  body > main > section.navigation-bar > section.navigation-bar1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0px;
  }

  .style:hover {
    width: 50%;
  }

body main .navigation-bar  ul {
  display:flex;
  flex-direction: column;
  padding:0;
  align-items:flex-start;
  justify-content: center;
  flex-wrap: wrap;
}
}


/* FORM */


        form {
            max-width: 400px;
            margin: 0 auto;
        }

        label, input {
            display: block;
            margin-bottom: 10px;
        }

        input {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
        }

        textarea {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
        }

        button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 15px;
            border: none;
            cursor: pointer;
        }

        button:hover {
            background-color: #45a049;
        }