

@media screen and (max-width: 1024px) {
    body {
    margin: 0 16px;
}
}

body {
    padding: 0 24px;
    margin: 0 32px;
    font-family: "Gentium Book Plus", serif;
}

body > main > section.section-blogs {
    margin: 4rem 2rem;
    display: flex;
    align-items: center;
}

body > main > section.section-blogs > section.section-blog {
    background-color: rgba(26, 37, 228, 0.1);
    padding: 10px 20px;
}

.blogs-menu {
    flex: 1;
    color:black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.blog-items {
    margin: 16px;

}


body > main > section.section-blogs > section.blogs-menu {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

body > main > section.section-blogs > section.blogs-menu > a {
    padding: 5px 15px;
    text-decoration: none;
    text-align: center;
}

body > main > section.section-blogs > section.blogs-menu > a:hover {
    background-color: #555;

}


@media screen and (max-width: 675px) {
    body {
        padding: 0;
    }

    body > main > section.section-blogs {
        display: block;
        margin: 0;
    }

    body > main > section.section-blogs > section.blogs-menu > a {
        padding: 0;
        margin: 0;
    }

    body > main > section.section-blogs > section.blogs-menu {
        display: none;
    }
    
}

body > section > h3 {
    color: #000080;

}


@media screen and (min-width: 1024px) {
    body > main > section.section-blogs > section.section-blog > .certification-details {
        margin-right: 500px;
    }
  }

 .certification-details h3 {
    font-size: 12px; 
    color: #000080;
    margin-bottom: 50px;
  }

  .container {
    padding: 2px 16px;
  }
